mcp[cli]>=1.2.0
python-dotenv>=1.0.1
mistralai>=1.2.0
fastmcp
requests>=2.31.0
httpx>=0.27.0
wandb>=0.16.0
weave>=0.50.0


# LiveKit and Audio Processing
livekit-agents[sip]==1.2.1
livekit-plugins-openai==1.2.1
livekit-plugins-silero==1.2.1
livekit-plugins-elevenlabs==1.2.1
livekit-plugins-deepgram==1.2.1
livekit-plugins-cartesia==1.2.1
livekit-plugins-azure==1.2.1
livekit-plugins-turn-detector==1.2.1
livekit==1.0.12
livekit-api==1.0.4
livekit-protocol==1.0.4